html {
  border-radius: 25px;
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 20px;
    padding-bottom: 20px;
    background: #f2f2f2; /* fallback color */
    background: linear-gradient(#d02216, #b91e13, #a21b11, #8a170f,#73130c);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500%;
    max-width: 1000px;
  	margin: auto;
}

body{
	border-radius: 25px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
    padding-bottom: 10px;
  font-family: Helvetica;
  font-size: 18px;
  text-align: center;
  background-color: #f2f2f2 ;
  color:black;
}

#ip1 {
    border-radius: 18px;
      
}

#submit {
    width: 90px;  height: 80px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;
}

/* 
h1{ border: 1px solid black;
    padding: 10px 10px 10px;
	background-color:white;
	color:white;
}

h3{ border: 1px solid black;
    padding: 10px 10px 10px;
	background-color:white;
	color:white;
	}
 */

	

	
	
	
	
